/*Global Settings*/
#logo {
    height: 50px;
    width: 50px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo:hover {
    opacity: 75%;
    cursor: pointer;
}

#headerImg {
    width: 100%;
}

/*Home Page*/
#aboutus {
    background-color: #ab7a41;
    margin-top: -8px;
    border-top: 5px solid #292929;
    height: 200px;
}

#mission {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    color: #f5f5f5;
    text-align: center;
}

#orderNow {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #292929;
}

#orderText {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #f5f5f5;
}

#fire {
    color: #ff3860;
}

#orderBtnBig {
    margin-bottom: 20px;
}

/*Menu*/
.modal-card-title {
    text-align: center;
    font-weight: bold;
}
#menuSection {
    text-align: center;
}

#menuPic {
    height: 400px;
    width: 400px;
}

#menuTitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#menuItem {
    padding: 10px;
}

#price {
    color: #ff3860;
    padding: 5px;
}

#addTocart {
    margin-bottom: 15px;
}

#contactSection {
    text-align: center;
}

.input {
    margin-bottom: 10px;


}

/* CopyRight */
footer {
    margin-bottom: 20px;
}
.copyright {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #292929;
}
#copyrightLink {
    text-decoration: none;
    color: #292929;
    margin-right: 25px;
}

#toTop {
    background-color: #ab7a41;
    color: #f5f5f5;
}


